body {
    font-family: 'Nunito', sans-serif;
    color: rgb(106, 102, 100);
    margin: 0;
}

#fdiv{
    margin-top:  80px;
    margin-left: 30px;
}

#fsec{
    display: flex;
    background-image: url(images/shapes/7.png);
}

#h1{
    font-size: 50px;
}

#name{
    color: tomato;
}

#sp1{
    color: rgb(79, 75, 75);
    font-weight: 600;
}

#pg{
    margin: 0 0 24px 0;
}

#fmveg{
    margin-left: 200px;
}

.btn{
    text-decoration: none;
    color: whitesmoke;
    background-image: linear-gradient(rgb(245, 43, 7),rgb(240, 106, 17));
    padding: 10px 20px;
    border-radius: 60px;
}



#ssec{
    background-image: url(images/Frame\ 58.jpg);
    background-size: cover;
    position: absolute;
    display: flex;
}

#sdiv{
    width: 60%;
}

#imgdiv img{
    width: 50%;
       
}

#prt{
    font-size: 50px;
    color: rgb(242, 101, 237);
}