body {
    font-family: 'Nunito', sans-serif;
    color: rgb(106, 102, 100);
    margin: 0;
}

#fdiv{
    margin-top:  80px;
    margin-left: 30px;
}

#fsec{
    display: flex;
    background-image: url(images/Frame\ 57.jpg);
    background-size: cover;
}

#h1{
    font-size: 50px;
}

#name{
    color: skyblue;
}

#sp1{
    color: rgb(79, 75, 75);
    font-weight: 600;
}

#pg{
    margin: 0 0 24px 0;
}

#fmveg{
    margin-left: 200px;
}

.btn{
    text-decoration: none;
    color: whitesmoke;
    background-image: linear-gradient(skyblue,cyan);
    padding: 10px 20px;
    border-radius: 60px;
}



#ssec{
    background-image: url(images/Frame\ 58.jpg);
    background-size: cover;
    display: flex;
}

#sdiv{
    width: 60%;
}    
#prt{
    font-size: 50px;
    color: rgb(242, 101, 237);
}
#mrgme{
    height: 350px;
    margin-top: 62px;
    margin-right: 0;
}
#mrghe{
    margin-top: 100px;
    width: 347px;
}
#mrgshe{
    margin-top: 100px;
}

.nme{
    color: rgb(223, 2, 215);
}
.text{
    color: rebeccapurple;
}
.bttn{
    text-decoration: none;
    color: whitesmoke;
    background-image: linear-gradient(orchid,rgb(247, 51, 247));
    padding: 10px 20px;
    border-radius: 60px;
    margin-left: 27%;
}
.usdiv{
    width: 50%;
    margin-bottom: 60px;
}
.usdiv img{
    max-width: 100%;
    max-height: 100%;
    align-content: center;
}




#tsec{
    background-image:url(images/solid-color-image.png);
    background-size: cover;
    display: flex;
}